.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100vh;
  background-color: #111111;
  top: 53px;
  left: 153px;
}

.main-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 20px;
}

.left-container {
  flex-grow: 1;
}

.right-container{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}